---
# tasks file for dotfonts

- name: Including package installation
  ansible.builtin.include_tasks: install_packages.yml
  when: dotfonts_install.enable|bool

- name: Installing fonts from URL
  ansible.builtin.include_tasks: install_fonts.yml
